<div class="profile_projects">
  <h3>Your Saved Projects</h3>
  <% if @favorite_projects.present? %>
    <ul class="no-bullet">
      <table class='table'>
        
      <% @favorite_projects.each do |project| %>
        <tr>
        <td>
        <li><%= link_to project.name, project_path(project) %></li>
        </td>
        <td>
        <%= link_to 'Remove', favorite_path(id: project.id), method: :delete, data: { confirm: 'Are you sure?'}, class: 'favorite radius button'  %>
        </td>
        </tr>
      <% end %>
      </table>
    </ul>
    <p>Looking for something else? Browse more <%= link_to "projects to change the world", projects_path %>.</p>
  <% else %>
    <p>No favorites yet? We'd recommend <%=  %>. Or, browse more <%= link_to "projects to change the world", projects_path %>.</p>

  <% end %>  
</div>
